@media(max-width: 1100px)
{
	.header .h1{width: 60%; height: auto;}
	.header .h2{width: 20%;	height: auto;  }
	.header .h2 ul{display: none;}
	.header .h2 .bar{display: block;
		margin-left: -200px;
		margin-top: 30px;
	
	}
	
	.header .h3{width: 20%;	height: auto;}

	  .nav .frco{width:50%;}
	 .nav .con{width:50%; margin-top: 10px;} 

	 .trk{width: 30%;}
	 .phn{width:40%;}
	 .rfnd{width:30%;}

	  .slider .part2 .card1{width:50%; text-align: center;}
	 .slider .part2 .card2{width: 50%; margin-top: 30px; text-align: center;}
	 .slider .part2 .card3{width: 50%; margin-top: 30px; text-align: center;} 

}

@media(max-width: 900px)
{
	.header .h1{width: 60%; height: auto;}
	.header .h2{width: 20%;	height: auto; display: none; }
	.header .h3{width: 40%;	height: auto;}
	 .bar{display: block;}

	.dsf{font-size: 70px;}

     .nav .frco{width:50%;}
	.nav .con{width:50%; margin-top: 10px;} 

	.trk{width: 40%;}
	 .phn{width:30%;}
	 .rfnd{width:30%;}

	  .slider .part2 .card1{width:50%; text-align: center;}
	 .slider .part2 .card2{width: 50%; margin-top: 30px;  text-align: center;}
	 .slider .part2 .card3{width: 50%; margin-top: 30px;  text-align: center;} 

	 
}
@media(max-width: 700px)
{
	.header .h1{width: 60%; height: auto;}
	.header .h2{width: 20%;	height: auto; display: none; }
	.header .h3{width: 40%;	height: auto;}
	
	.dsf{font-size: 60px;}

	.nav .frco{width:50%;}
	.nav .con{width:50%; margin-top: 10px;} 

	.trk{width: 50%;}
	 .phn{width:50%;}
	 .rfnd{width: 100%;}

	  .slider .part2 .card1{width:50%;  text-align: center;}
	 .slider .part2 .card2{width: 50%; text-align: center;}
	 .slider .part2 .card3{width: 50%; text-align: center;} 

	
}
@media(max-width: 500px) 
{
	.header .h1{width: 60%; height: auto;}
	.header .h2{width: 20%;	height: auto;}
	.header .h2 ul{display: none;}
	.bar{display: block;
		margin-top: 20px;}
	.header .h3{width: 40%;	height: auto;}

	.dsf{font-size: 50px;}

	 .nav .frco{width:100%;}
	.nav .con{width:100%; margin-top: 10px;} 
	
	.trk{width: 100%;}
	 .phn{width:100%;}
	 .rfnd{width:100%;}

	  .slider .part2 .card1{width:90%; text-align: center;}
	 .slider .part2 .card2{width: 90%; text-align: center;}
	 .slider .part2 .card3{width:90%; text-align: center;} 
}
